@model Footer
@if (Model == null)
{


<span class="text-danger">There is not footer to update</span>
}
else
{
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update the Layout (Links)</h4>
                        <form enctype="multipart/form-data" class="forms-sample" method="post" asp-action="Update">
                            <div class="form-group">
                                <label asp-for="FacebookLink">Facebook Link</label>
                                <input type="text" class="form-control" asp-for="FacebookLink" value="@Model.FacebookLink" placeholder="FacebookLink">
                                <span class="text-danger" asp-validation-for="FacebookLink"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LinkedInLink">LinkedIn Link</label>
                                <input type="text" class="form-control" asp-for="LinkedInLink" value="@Model.LinkedInLink">
                                <span class="text-danger" asp-validation-for="LinkedInLink"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="File" class="cursor-pointer ">Choose an image or leave out this field to use the old one</label>
                                <input type="file" class="form-control" asp-for="File" accept="image/*">
                                <span class="text-danger" asp-validation-for="File"></span>
                                <input type="hidden" asp-for="Image" value="@Model.Image" />
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScripts" />
}
}