@model PasswordViewModel
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <h4 class="card-title">Create an Owl Slider</h4>
                            <form  class="forms-sample" method="post" asp-action="ChangePassword">
                                <label asp-for="UserName">UserName</label>
                                <input asp-for="UserName" value="@Model.UserName"/>
                                <div class="form-group">
                                    <label asp-for="OldPassword">Old Password</label>
                                    <input asp-for="OldPassword">
                                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword">New Password</label>
                                    <input asp-for="NewPassword">
                                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmedPassword">Confirm Password</label>
                                    <input asp-for="ConfirmedPassword">
                                    <span class="text-danger" asp-validation-for="ConfirmedPassword"></span>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button class="btn btn-light" asp-action="Index">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<partial name="_ValidationScripts"/>