@model Category
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create a Category</h4>                      
                        <form class="forms-sample" method="post" asp-controller="Category" asp-action="Create">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input type="text" class="form-control" asp-for="Name"  placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label asp-for="Order">Order</label>
                                <input type="number" class="form-control" asp-for="Order"min="1" placeholder="Order">
                            </div>
                                                      
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
