@model List<Category>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Category" asp-action="Update">Update</a>
                        <a class="btn btn-danger">Delete</a>
                        <a class="btn btn-warning" asp-controller="Category" asp-action="Detail" asp-route-id="@category.Id">Detail</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

