@model List<Product>

@{ if (ViewBag.ProductCount==0) 
    {
        <li>Not found</li>
    }else{
             foreach(Product product in Model)
             {
<li>
<div class="container-fluid">
    <div class="row">
        <div class="col-4"><img class="w-100" src="~/img/@product.ImageName" /></div>
        <div class="col">@product.Name</div>
    </div>
</div>

</li>
             }
         }
}