@model InstagramSectionViewModel
<section id="instagram">
    <div class="owl-carousel instagram">
        @foreach (InstagramSectionPicture pic in Model.InstagramSectionPictures)
        {
            <div><img src="~/img/@pic.ImageName" class="img-fluid" alt=""></div>
        }


    </div>
    <div class="hastag bg-light text-muted py-2 px-3">
    @Model.InstagramSection.Title
    </div>
</section>